
.ipynb_checkpoints/DNL_oscilador_interactive-checkpoint.ipynb
__pycache__/putils.cpython-37.pyc
.ipynb_checkpoints/DNL_Mapas-checkpoint.ipynb
.ipynb_checkpoints/DNL_Takens_Bogdanov_Interactive-checkpoint.ipynb
.ipynb_checkpoints/DNL_Mapa_Logistico-checkpoint.ipynb
.ipynb_checkpoints/DNL_Mapas_parte1-checkpoint.ipynb
.ipynb_checkpoints/DNL_Mapas_parte2-checkpoint.ipynb
.ipynb_checkpoints/DNL_Practica1-checkpoint.ipynb
.ipynb_checkpoints/DNL_Practica1_Ej1011-checkpoint.ipynb
.ipynb_checkpoints/DNL_Derivadas-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos_Circulo-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos2D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos2D_Parte2-checkpoint.ipynb
.ipynb_checkpoints/DNL_AutoOsciladores-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D_Circulo-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
.ipynb_checkpoints/DNL_Flujos1D-checkpoint.ipynb
